In [1]:
import pandas as pd
import numpy as np

## Homework 1

In [2]:
sales_data=pd.read_csv('task/sales_data.csv')
sales_data

          Date                 Product     Category  Quantity  Price
0   2023-01-01                  Laptop  Electronics        10    800
1   2023-01-01                 T-Shirt     Clothing         5     20
2   2023-01-02              Smartphone  Electronics         8    400
3   2023-01-02            Coffee Maker         Home        12     50
4   2023-01-03                   Jeans     Clothing        15     30
5   2023-01-03                 Blender         Home         6     60
6   2023-01-04              Headphones  Electronics        10    150
7   2023-01-04                 Sweater     Clothing         7     35
8   2023-01-05                 Toaster         Home         8     25
9   2023-01-05                  Tablet  Electronics        12    300
10  2023-01-06                Sneakers     Clothing        10     50
11  2023-01-06          Vacuum Cleaner         Home         5     80
12  2023-01-07                Smart TV  Electronics        15   1000
13  2023-01-07                  Hoodie     Clothing         6     25
14  2023-01-08          Blu-ray Player         Home         9     70
15  2023-01-08        Wireless Earbuds  Electronics        11    120
16  2023-01-09            Denim Jacket     Clothing        13     45
17  2023-01-09            Air Purifier         Home         7     90
18  2023-01-10          Gaming Console  Electronics        14    400
19  2023-01-10            Formal Shirt     Clothing         8     35
20  2023-01-11            Cookware Set         Home        10     60
21  2023-01-11     External Hard Drive  Electronics         9     80
22  2023-01-12              Sunglasses     Clothing        11     15
23  2023-01-12               Desk Lamp         Home         6     25
24  2023-01-13        Wireless Speaker  Electronics        12     70
25  2023-01-13              Sweatpants     Clothing         7     20
26  2023-01-14            Coffee Table         Home         8    100
27  2023-01-14                   Drone  Electronics        10    300
28  2023-01-15                Backpack     Clothing        14     40
29  2023-01-15           Comforter Set         Home         7     45
30  2023-01-16         Fitness Tracker  Electronics         9     60
31  2023-01-16            Casual Shoes     Clothing         6     30
32  2023-01-17           Kitchen Scale         Home        12     20
33  2023-01-17               Projector  Electronics        13    200
34  2023-01-18             Dress Shirt     Clothing         8     25
35  2023-01-18              Steam Iron         Home        11     30
36  2023-01-19                Soundbar  Electronics        15    150
37  2023-01-19              Sweatshirt     Clothing         7     35
38  2023-01-20            Bedside Lamp         Home        10     20
39  2023-01-20  Point-and-Shoot Camera  Electronics         8    250
40  2023-01-21             Sport Shoes     Clothing        12     40
41  2023-01-21              Desk Chair         Home         6     75
42  2023-01-22          Wireless Mouse  Electronics        11     25
43  2023-01-22            Summer Dress     Clothing         9     30
44  2023-01-23         Pressure Cooker         Home        14     50
45  2023-01-23       Bluetooth Headset  Electronics         7     50
46  2023-01-24             Denim Skirt     Clothing         8     25
47  2023-01-24               Bookshelf         Home        13     80
48  2023-01-25              4K Monitor  Electronics         9    350
49  2023-01-25             Cargo Pants     Clothing        11     30

In [44]:
Z=(sales_data
   .groupby('Category')
   .agg(total_quantity_sold=pd.NamedAgg(column='Quantity', aggfunc='sum'),
        average_price_per_unit=pd.NamedAgg(column='Price', aggfunc='mean'),
        max_quantity_sold=pd.NamedAgg(column='Quantity', aggfunc='max'),
      )
)
sales_data['Sales']=sales_data['Quantity']*sales_data['Price']

top_selling_products = sales_data.groupby(["Category", "Product"])["Quantity"].sum().reset_index()
top_selling_products = top_selling_products.loc[top_selling_products.groupby("Category")["Quantity"].idxmax()]

highest_sales_day=sales_data.groupby('Date')['Sales'].sum().idxmax()

#1
print(Z)
#2
print('\nTop-Selling Products by Category:\n', top_selling_products)
#3
print('\nDate with the highest total sales is',highest_sales_day)

             total_quantity_sold  average_price_per_unit  max_quantity_sold
Category
Clothing                     157               31.176471                 15
Electronics                  183              276.764706                 15
Home                         144               55.000000                 14

Top-Selling Products by Category:
        Category          Product  Quantity
8      Clothing            Jeans        15
27  Electronics         Smart TV        15
46         Home  Pressure Cooker        14

Date with the highest total sales is 2023-01-07

## Homework 2

In [45]:
customer_orders=pd.read_csv('task/customer_orders.csv')
customer_orders

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [74]:
#1
grouped_co=customer_orders.groupby('CustomerID')['OrderID'].agg('count')
filter=grouped_co[grouped_co<20].index
result=customer_orders[customer_orders['CustomerID'].isin(filter)]
print('customers who have made less than 20 orders: ', result['CustomerID'].unique())

customers who have made less than 20 orders:  [105]

In [98]:
#2
grouped_co=customer_orders.groupby('CustomerID')['Price'].agg('mean')
filter=grouped_co[grouped_co>120].index
result=customer_orders[customer_orders['CustomerID'].isin(filter)]
print('Customers who have ordered products with an average price per unit greater than $120: ', result['CustomerID'].unique())

Customers who have ordered products with an average price per unit greater than $120:  [102 104]

In [114]:
#3
total_quantity_price=customer_orders.groupby('Product')[['Quantity','Price']].agg('sum').reset_index()
filtered=total_quantity_price[total_quantity_price['Quantity']<5]
filtered

                   Product  Quantity  Price
0                 Backpack         4    160
1                  Blender         4    180
2           Blu-ray Player         2    140
3        Bluetooth Headset         2    100
4                Bookshelf         2    160
6             Casual Shoes         3     90
7             Coffee Maker         3    150
8             Coffee Table         3    200
9            Comforter Set         3    135
10            Cookware Set         1     60
11            Denim Jacket         2     90
12             Denim Skirt         1     25
13              Desk Chair         2    150
14               Desk Lamp         2     50
16                   Drone         2    600
17     External Hard Drive         3    160
18         Fitness Tracker         3    180
20            Formal Shoes         3    180
21          Gaming Console         3   1200
22              Headphones         1    150
23                  Hoodie         2     50
24                   Jeans         3     90
25           Kitchen Scale         1     20
26                  Laptop         2    800
27  Point-and-Shoot Camera         2    500
28               Projector         2    400
29                Smart TV         3   3000
31                Sneakers         3    100
33              Steam Iron         3     60
34            Summer Dress         3     60
36                 Sweater         3     70
37              Sweatshirt         2     35
38                  Tablet         2    300
39                 Toaster         3     50
40        Wireless Charger         2     70
42          Wireless Mouse         3     75
43        Wireless Speaker         2    140

## Homework 3

In [125]:
import sqlite3

#1
db_path = "task/population.db"
conn = sqlite3.connect(db_path)

query = "SELECT * FROM population;"
population_data = pd.read_sql(query, conn)
# conn.close()

In [137]:
#2
salary_data["Salary Category"] = pd.qcut(salary_data["salary"], q=6, duplicates='drop')

salary_stats = salary_data.groupby("Salary Category").agg(
    Percentage=("salary", lambda x: len(x) / len(salary_data) * 100),
    Average_Salary=("salary", "mean"),
    Median_Salary=("salary", "median"),
    Population_Count=("salary", "size")
)

print("Salary category statistics:\n\n", salary_stats)

Salary category statistics:

                           Percentage  Average_Salary  Median_Salary  \
Salary Category
(229.999, 335022.0]        16.668097    1.677928e+05       165933.5
(335022.0, 657520.667]     16.668097    4.953050e+05       493820.5
(657520.667, 990301.0]     16.668097    8.243874e+05       825060.5
(990301.0, 1316532.0]      16.659514    1.149177e+06      1146571.0
(1316532.0, 1658570.667]   16.668097    1.487314e+06      1486268.5
(1658570.667, 2000000.0]   16.668097    1.831873e+06      1836115.5

                          Population_Count
Salary Category
(229.999, 335022.0]                   1942
(335022.0, 657520.667]                1942
(657520.667, 990301.0]                1942
(990301.0, 1316532.0]                 1941
(1316532.0, 1658570.667]              1942
(1658570.667, 2000000.0]              1942

C:\Users\nizom\AppData\Local\Temp\ipykernel_17568\2552639488.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  salary_stats = salary_data.groupby("Salary Category").agg(

In [139]:
#3
salary_data = pd.read_sql("SELECT state, salary FROM population;", conn)

salary_data["Salary Category"] = pd.qcut(salary_data["salary"], q=5, duplicates='drop')

salary_stats = salary_data.groupby(["state", "Salary Category"]).agg(
    Percentage=("salary", lambda x: len(x) / len(salary_data) * 100),
    Average_Salary=("salary", "mean"),
    Median_Salary=("salary", "median"),
    Population_Count=("salary", "size")
)

print("Salary category statistics per state:\n\n", salary_stats)

Salary category statistics per state:

                                 Percentage  Average_Salary  Median_Salary  \
state   Salary Category
Alabama (229.999, 401651.0]       0.411982    2.155888e+05       209837.5
        (401651.0, 790944.0]      0.420565    5.906149e+05       600353.0
        (790944.0, 1181871.0]     0.480645    1.002348e+06      1006259.0
        (1181871.0, 1588981.0]    0.472062    1.390939e+06      1387655.0
        (1588981.0, 2000000.0]    0.326152    1.788071e+06      1782306.5
...                                    ...             ...            ...
Wyoming (229.999, 401651.0]       0.008583    2.772800e+04        27728.0
        (401651.0, 790944.0]           NaN             NaN            NaN
        (790944.0, 1181871.0]     0.008583    9.703660e+05       970366.0
        (1181871.0, 1588981.0]    0.025749    1.281212e+06      1288100.0
        (1588981.0, 2000000.0]         NaN             NaN            NaN

                                Population_Count
state   Salary Category
Alabama (229.999, 401651.0]                   48
        (401651.0, 790944.0]                  49
        (790944.0, 1181871.0]                 56
        (1181871.0, 1588981.0]                55
        (1588981.0, 2000000.0]                38
...                                          ...
Wyoming (229.999, 401651.0]                    1
        (401651.0, 790944.0]                   0
        (790944.0, 1181871.0]                  1
        (1181871.0, 1588981.0]                 3
        (1588981.0, 2000000.0]                 0

[255 rows x 4 columns]

C:\Users\nizom\AppData\Local\Temp\ipykernel_17568\3977065716.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  salary_stats = salary_data.groupby(["state", "Salary Category"]).agg(